<?xml version="1.0" encoding="utf-8"?>
<configuracion>
  <interfaz>
    <logs value="1" />
    <clavelogs value="clave-logs" />
    <pinpadconexion value="COM5" />
    <pinpadtimeout value="45" />
    <pinpadpuertowifi value="" />
    <pinpadmensaje value="* C K L A S S *" />
    <contactless value="1" />
    <clavebinesexcepcion value="" />
    <hosturl value="https://www.totalpos.eglobal.com.mx/totalpos/ws/autorizaciones/transacciones" />
    <binesurl value="https://www.totalpos.eglobal.com.mx/totalpos/ws/recursos/bines/concentrado/actualizaciones" />
    <tokenurl value="https://www.totalpos.eglobal.com.mx/totalpos/ws/autenticacion/oauth/token" />
    <update value="http://localhost:8080/telecargas/descargas" />
    <hosttimeout value="30" />
    <funcionalidadgaranti value="0" />
    <funcionalidadmoto value="0" />
    <tecladoliberado value="0" />
    <comercioafiliacion value="6227979" />
    <comercioterminal value="9" />
    <comerciomac value="6C-02-E0-73-97-85" />
    <idaplicacion value="b644a319ef8a74b89dac7458795cd4cb7d9a496160ee16645cf05594718528a8" />
    <clavesecreta value="b74ce833-9338-409d-bb2f-c43a770dbdc5" />
  </interfaz>
</configuracion>